<html>
  <head>
    <title>bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/<script src="https://kit.fontawesome.com/97939798b7.js" crossorigin="anonymous"></script>.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png') %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <%= link_to "Log aut, destroy_book_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            <li>
              <%= link_to 'Books', index_book_image_path(current_book.id), class: 'nav-link text-dark' %>
            </li>
            <li>
              <%= link_to 'Users', index_user_path(current_user.id), class: 'nav-link text-dark' %>
            </li>
            <li>
              <%= link_to "Home", home_top_path %>
            </li>
            
            <% else %>
            <li>
              <%= link_to "Sign in", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "About", home_top_path %>
            </li>
            <li>
              <%= link_to "Home", home_top_path %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>